.container{
    display: flex;
    height: 100vh;
}   

.left-container .right-container {
    flex: 1;
}

.left-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.right-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.details-box {
    border: 1px solid grey;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    width: 500px;
    height: 530px;
    font-weight: bold;
    margin-right: 20px;
}


.heading {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
}

h3 {
    margin-top: 5px;
}

button {
    width: 420px;
}

